/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/usb/pd.h>

/ {
    compatible = "toradex,verdin-imx8mp";

    fragment@0 {
        target = <&i2c4>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            hd3ss3220: typec@47 {
                compatible = "ti,hd3ss3220";
                reg = <0x47>;
                status = "okay";
                usb-role-switch;

                connector {
                    compatible = "usb-c-connector";
                    label = "USB-C-SS";
                    data-role = "dual";
                    power-role = "dual";
                    try-power-role = "sink";
                };
            };
        };
    };

    fragment@1 {
        target = <&usb3_1>;
        __overlay__ {
            status = "okay";
            usb-role-switch;
            
            /* Gán trực tiếp driver của chip vào switch của controller */
            usb-role-switch-interface = <&hd3ss3220>;

            usb@38200000 {
                status = "okay";
                dr_mode = "otg";
                usb-role-switch;
                usb-role-switch-interface = <&hd3ss3220>;
            };
        };
    };
};
