/dts-v1/;
/plugin/;

#include "imx8mp-pinfunc.h"
#include <dt-bindings/clock/imx8mp-clock.h>
#include <dt-bindings/gpio/gpio.h>

&{/} {
    reg_ov5648_avdd: regulator-ov5648-avdd {
        compatible = "regulator-fixed";
        regulator-name = "ov5648_avdd";
        regulator-min-microvolt = <2800000>;
        regulator-max-microvolt = <2800000>;
        regulator-always-on;
    };

    reg_ov5648_dovdd: regulator-ov5648-dovdd {
        compatible = "regulator-fixed";
        regulator-name = "ov5648_dovdd";
        regulator-min-microvolt = <1800000>;
        regulator-max-microvolt = <1800000>;
        regulator-always-on;
    };

    reg_ov5648_dvdd: regulator-ov5648-dvdd {
        compatible = "regulator-fixed";
        regulator-name = "ov5648_dvdd";
        regulator-min-microvolt = <1500000>;
        regulator-max-microvolt = <1500000>;
        regulator-always-on;
    };
};

/*
 * MIPI CSI-2 Receiver (Samtec driver: imx8-mipi-csi2-sam.c)
 *
 * KEY ARCHITECTURE (imx8-media-dev.c register_sensor_entities):
 *   - mx8-img-md finds sensors by walking: CSI node -> FIRST child (port)
 *     -> FIRST child of port (endpoint) -> remote-endpoint -> SENSOR
 *   - It calls of_find_i2c_device_by_node(sensor) to verify I2C
 *   - ISI <-> CSI connection is managed by ISI's "interface" property
 *     in the BASE DTB, NOT by OF graph ports!
 *
 * The imx8-mipi-csi2-sam.c driver reads lanes:
 *   of_graph_get_next_endpoint(node, NULL) -> FIRST endpoint -> data-lanes
 */
&mipi_csi_0 {
    status = "okay";
    /delete-node/ port;

    port@0 {
        mipi_csi0_from_ov5648_ep: endpoint {
            remote-endpoint = <&ov5648_to_mipi_ep>;
            data-lanes = <2>;   /* number of lanes for ISP driver */
            csis-hs-settle = <16>;
        };
    };
};

/* ISP: Enable for RAW sensor processing (debayering, etc.) */
&isi_0 {
    status = "disabled";
};

&isp_0 {
    status = "okay";
};

&dewarp {
    status = "okay";
};

/* Media Controller */
&{/soc@0/bus@32c00000/camera} {
    status = "okay";
};

/* Verdin I2C_4_CSI */
&i2c3 {
    #address-cells = <1>;
    #size-cells = <0>;
    status = "okay";

    ov5648: camera@36 {
        compatible = "ovti,ov5648";
        reg = <0x36>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_ov5648_gpios &pinctrl_csi_mclk>;

        avdd-supply = <&reg_ov5648_avdd>;
        dovdd-supply = <&reg_ov5648_dovdd>;
        dvdd-supply = <&reg_ov5648_dvdd>;

        clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
        clock-names = "xclk";
        assigned-clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
        assigned-clock-parents = <&clk IMX8MP_CLK_24M>;
        assigned-clock-rates = <24000000>;

        powerdown-gpios = <&gpio4 8 GPIO_ACTIVE_LOW>;  
        reset-gpios = <&gpio4 9 GPIO_ACTIVE_LOW>;

        status = "okay";

        port {
            ov5648_to_mipi_ep: endpoint {
                remote-endpoint = <&mipi_csi0_from_ov5648_ep>;
                data-lanes = <1 2>;
                clock-lanes = <0>;
                clock-noncontinuous;
                link-frequencies = /bits/ 64 <210000000 168000000>;
            };
        };
    };
};

/* Disable FEC to free GPIO4_IO08/09 */
&fec {
    status = "disabled";
};

&iomuxc {
    pinctrl_ov5648_gpios: ov5648gpiosgrp {
        fsl,pins = <
            MX8MP_IOMUXC_SAI1_RXD6__GPIO4_IO08    0x10
            MX8MP_IOMUXC_SAI1_RXD7__GPIO4_IO09    0x10
        >;
    };

    /* MCLK: CSI_1_MCLK = SODIMM 91 = SAI3_MCLK as Audio Master Clock 3 */
    pinctrl_csi_mclk: csimclkgrp {
        fsl,pins = <
            MX8MP_IOMUXC_SAI3_MCLK__AUDIOMIX_SAI3_MCLK    0xd6
        >;
    };
};

&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_gpio1>, <&pinctrl_gpio2>,
                <&pinctrl_gpio3>, <&pinctrl_gpio4>,
                <&pinctrl_gpio7>, <&pinctrl_gpio8>,
                <&pinctrl_gpio_hog1>, <&pinctrl_hdmi_hog>;
};